# Pandas

In [119]:
import pandas as pd
import requests

## Reading CSV

In [ ]:
# Fetch the data.
world_population_df = pd.read_csv("https://ourworldindata.org/grapher/population.csv?v=1&csvType=filtered&useColumnShortNames=false&time=1500..latest&country=OWID_NAM~OWID_SAM~OWID_ASI~OWID_EUR~OWID_AFR~OWID_OCE~OWID_WRL~BRA~ARG", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

## Index

In [121]:
world_population_indexed_df = world_population_df.set_index('Entity')

In [132]:
pd.read_csv("https://ourworldindata.org/grapher/population.csv?v=1&csvType=filtered&useColumnShortNames=false&time=1500..latest&country=OWID_NAM~OWID_SAM~OWID_ASI~OWID_EUR~OWID_AFR~OWID_OCE~OWID_WRL~BRA~ARG", 
            storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'}, 
            index_col='Entity').tail(2)

            Code  Year  Population (historical)
Entity
World   OWID_WRL  2022               8021407128
World   OWID_WRL  2023               8091734853

In [135]:
world_population_indexed_df.reset_index().tail(2)

     Entity      Code  Year  Population (historical)
2011  World  OWID_WRL  2022               8021407128
2012  World  OWID_WRL  2023               8091734853

## Filtering Data

In [122]:
world_population_df[world_population_df['Entity'] == 'Brazil'].tail(2)

     Entity Code  Year  Population (historical)
950  Brazil  BRA  2022                210306358
951  Brazil  BRA  2023                211140678

In [123]:
world_population_df[world_population_df['Entity'].isin(['Brazil', 'Argentina'])].tail(2)

     Entity Code  Year  Population (historical)
950  Brazil  BRA  2022                210306358
951  Brazil  BRA  2023                211140678

In [124]:
world_population_df[world_population_df['Entity'].str.contains('Brazil')].tail(2)

     Entity Code  Year  Population (historical)
950  Brazil  BRA  2022                210306358
951  Brazil  BRA  2023                211140678

In [125]:
world_population_df.filter(items=['Entity', 'Population (historical)', "Year"]).tail(2)

     Entity  Population (historical)  Year
2011  World               8021407128  2022
2012  World               8091734853  2023

In [126]:
world_population_df.filter(like='Entity').tail(2)

     Entity
2011  World
2012  World

In [127]:
world_population_indexed_df.loc['Brazil'].tail(2)

       Code  Year  Population (historical)
Entity
Brazil  BRA  2022                210306358
Brazil  BRA  2023                211140678

In [128]:
world_population_df.iloc[1670]

Entity                      Oceania
Code                            NaN
Year                           2022
Population (historical)    45048642
Name: 1670, dtype: object

## Order By

In [129]:
world_population_df[world_population_df['Population (historical)'] >= 199540678].sort_values(by='Population (historical)', ascending=False).head(2)

     Entity      Code  Year  Population (historical)
2012  World  OWID_WRL  2023               8091734853
2011  World  OWID_WRL  2022               8021407128

In [130]:
world_population_df[world_population_df['Population (historical)'] >= 29540678].sort_values(by=['Population (historical)','Entity'], ascending=True).head(2)

             Entity Code  Year  Population (historical)
1245  North America  NaN  1837                 29636808
436       Argentina  ARG  1984                 29863040